<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2026 BoomboxRapsody <boomboxrapsody@gmail.com>. Licensed under the MIT Licence.
See the LICENCE file in the repository root for full licence text.
-->
<configuration>
  <appSettings>
    <add key="GitHubUsername" value="ZeroMayo" />
    <add key="GitHubRepoName" value="NekoPlayer" />
    <add key="SolutionName" value="NekoPlayer" />
    <add key="ProjectName" value="NekoPlayer.Desktop" />
    <add key="IncrementVersion" value="true" />
    <add key="GitHubUpload" value="false" />
    <add key="PackageName" value="NekoPlayer" />
    <add key="IconName" value="game.ico" />
    <add key="GitHubAccessToken" value="" />
    <add key="CodeSigningCertificate" value="" />
  </appSettings>
</configuration>
